.fade-enter {
  opacity: 0.1;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 3000ms;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0.1;
  transition: opacity 3000ms;
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}
.zoom-entering {
  animation: zoomIn 0.3s;
}
@keyframes zoomOut {
  from {
    opacity: 1;
  }
  50% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  to {
    opacity: 0;
  }
}
.zoom-exiting {
  animation: zoomOut 0.3s;
}

.tab-vertical-enter {
  opacity: 0;
  transform: translateY(50%);
}
.tab-vertical-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition-property: opacity transform;
  transition-duration: 300ms;
}
.tab-vertical-exit {
  opacity: 1;
  transform: translateY(0);
}
.tab-vertical-exit-active {
  opacity: 0;
  transform: translateY(-50%);
  transition-property: opacity transform;
  transition-duration: 300ms;
}

.tab-horizontal-enter {
  opacity: 0;
  transform: translateX(50%);
}
.tab-horizontal-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition-property: opacity transform;
  transition-duration: 300ms;
}
.tab-horizontal-exit {
  opacity: 1;
  transform: translateX(0);
}
.tab-horizontal-exit-active {
  opacity: 0;
  transform: translateX(-50%);
  transition-property: opacity transform;
  transition-duration: 300ms;
}
