@import "overlay.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .eph-appbar {
    @apply bg-primary shadow-lg flex py-2 px-3 items-center z-30 top-0 h-16;
    animation: slideAppBar 300ms;
  }
  .eph-appbar-title {
    @apply flex-grow pl-3 text-xl;
  }
}

:root {
  --eph-height: calc(100vh - 4rem);
  --animate-duration: 0.3s;
}

body {
  font-family: Inter;
}

img {
  /* make all images not draggable */
  @apply pointer-events-none;
}

::-webkit-scrollbar {
  width: 0;
}

#root {
  height: calc(100vh);
}

.eph-h-full {
  height: var(--eph-height);
}
.eph-min-h-full {
  min-height: var(--eph-height);
}
.eph-max-h-full {
  max-height: var(--eph-height);
}

.eph-drag {
  -webkit-app-region: drag;
}
.eph-no-drag {
  -webkit-app-region: no-drag;
}
