/* long live the tailwind!!!!!! */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("anime.css");

body {
  background: var(--eph-background-color);
}

::-webkit-scrollbar {
  width: 0 !important;
}

:root {
  --animate-duration: 0.3s;
}

#root {
  height: calc(100vh);
}

.eph-dialog {
  min-width: 500px;
}

.eph-h-full {
  height: calc(100vh - 4rem);
}
.eph-min-h-full {
  min-height: calc(100vh - 4rem);
}
.eph-max-h-full {
  max-height: calc(100vh - 4rem);
}

/* Checkbox Component */
input:checked ~ .dot {
  transform: translateX(100%);
  background-color: #48bb78;
}

/* dragging area just like a title bar */
.eph-dragging-area {
  -webkit-app-region: drag;
}

.eph-non-dragging-area {
  -webkit-app-region: no-drag;
}
