@import "tailwind.css";
@import "anime.css";
@import "inputs.css";
@import "overlay.css";
@import "tabs.css";
@import "layouts.css";
@import "progress.css";

@layer components {
  .eph-appbar {
    @apply bg-primary shadow-lg flex py-2 px-3 items-center z-30 top-0 h-16;
    animation: slideAppBar 300ms;
  }
  .eph-appbar-title {
    @apply flex-grow pl-3 text-xl;
  }
}

:root {
  --eph-height: calc(100vh - 4rem);
  /*
    only for default value, for more global css variables please see:
      `src/renderer/theme.ts` and `tailwind.config.js`
  */
  --eph-background-color: white;
  --eph-divider-color: grey;
  --eph-shallow-color: gray;
  @apply text-contrast;
}

body {
  font-family: Inter;
  background: var(--eph-background-color);
}

img {
  /* make all images not draggable */
  @apply pointer-events-none;
}

::-webkit-scrollbar {
  width: 0;
}

:root {
  --animate-duration: 0.3s;
}

#root {
  height: calc(100vh);
}

.eph-h-full {
  height: var(--eph-height);
}
.eph-min-h-full {
  min-height: var(--eph-height);
}
.eph-max-h-full {
  max-height: var(--eph-height);
}

.eph-drag {
  -webkit-app-region: drag;
}
.eph-no-drag {
  -webkit-app-region: no-drag;
}

input[type="number"].no-spin-button::-webkit-outer-spin-button,
input[type="number"].no-spin-button::-webkit-inner-spin-button {
  display: none;
  appearance: none;
  margin: 0;
}

/* Checkbox Component */
input:checked ~ .dot {
  transform: translateX(100%);
  background-color: #48bb78;
}
