@layer components {
  .eph-button {
    @apply select-none flex items-center px-4 py-2 m-1 rounded-lg text-sm font-medium focus:outline-none text-contrast;
  }
  .eph-button:disabled {
    @apply cursor-not-allowed text-shallow;
  }
  .eph-button-contained {
    @apply transition-colors text-white bg-blue-500 hover:bg-blue-600 active:bg-blue-700;
  }
  .eph-button-contained:disabled {
    @apply bg-blue-800 dark:bg-gray-700 text-gray-200;
  }
  .eph-button-text {
    @apply transition-colors bg-black bg-opacity-0 hover:bg-opacity-5 active:bg-opacity-10;
  }
  .eph-button-text:disabled {
    @apply hover:bg-opacity-0;
  }

  .eph-icon-button {
    @apply select-none rounded-full h-12 w-12 flex justify-center items-center
      transition-colors hover:bg-black hover:bg-opacity-10 active:bg-opacity-20 focus:outline-none;
  }

  .eph-select {
    @apply block bg-card border border-divider rounded-lg shadow-sm appearance-none focus:outline-none;
    padding: 0.5em 3.5em 0.5em 1em;
    background-image: linear-gradient(
        45deg,
        transparent 50%,
        var(--eph-shallow-color) 50%
      ),
      linear-gradient(135deg, var(--eph-shallow-color) 50%, transparent 50%),
      linear-gradient(
        to right,
        var(--eph-shallow-color),
        var(--eph-shallow-color)
      );
    background-position: calc(100% - 20px) calc(1em + 2px),
      calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
    background-size: 5px 5px, 5px 5px, 1px 1.5em;
    background-repeat: no-repeat;
  }

  .eph-label {
    @apply text-gray-600 dark:text-gray-400 font-bold text-sm pl-1;
  }
  .eph-label:disabled {
    @apply text-shallow dark:text-shallow;
  }

  .eph-textfield {
    @apply flex-1 appearance-none border border-divider w-full py-2 px-4 bg-card
      text-gray-700 dark:text-gray-50 placeholder-gray-400 shadow-sm text-base focus:outline-none;
  }
  .eph-textfield-icon {
    @apply rounded-l-lg inline-flex items-center px-3
      border-t bg-white dark:bg-gray-700 border-l border-b border-divider text-shallow shadow-sm;
  }
  .eph-textfield-trailing {
    @apply rounded-r-lg inline-flex items-center px-3
      border-t bg-white dark:bg-gray-700 border-r border-b border-divider text-shallow shadow-sm;
  }

  .eph-helper-text {
    @apply text-sm -bottom-6 text-shallow;
  }
  .eph-helper-text-error {
    @apply text-danger;
  }

  .eph-checkbox {
    @apply bg-card border rounded-md border-divider w-5 h-5
      flex justify-center items-center mr-2 focus-within:border-blue-500 shadow-none hover:shadow-sm;
  }
  .eph-checkbox-svg {
    @apply fill-current w-3 h-3 text-blue-500 pointer-events-none;
  }

  .eph-link {
    @apply text-blue-500 hover:text-blue-600 cursor-pointer select-none;
  }
}
