html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
}

div#root {
    width: 100%;
    height: 100%;
    background-color: var(--eph-background-color);
}

/* hide scrollbar */
::-webkit-scrollbar {
    width: 0 !important;
}

/* page transition animations */
.fade-enter,
.fade-exit {
    position: absolute;
    top: 0;
    left: 0;
    transition: 250ms ease opacity;
}
.fade-enter,
.fade-exit-active {
    opacity: 0;
}
.fade-enter-active {
    opacity: 1;
    z-index: 1;
}
